body {
  margin: 0;
  padding: 0;
  font-family: "Teko", sans-serif;
}

.container {
  width: 100%;
  height: 100vh;
  background-color: #3eecac;
  background-image: linear-gradient(19deg, #3eecac 0%, #ee74e1 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  padding: 1em;
  border-radius: 15px;
  background-color: #3eecac;
  background-image: linear-gradient(19deg, #ee74e1 0%, #3eecac 100%);
  border: 1px solid black;
}

.calculator form input {
  border: 0;
  width: 3em;
  height: 3em;
  border-radius: 15px;
  outline: 0;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  background: rgb(166, 123, 235);
  font-size: 1.5em;
  font-weight: bold;
  margin: 0.2em;
  color: #fff;
  cursor: pointer;
  text-shadow: 0 0 2px black;
}

.display-area {
  display: flex;
  justify-content: flex-end;
  margin: 1em 0;
}

form .display-area input {
  background-color: #fff;
  text-align: right;
  flex: 1;
  font-size: 2em;
  box-shadow: none;
  height: 2em;
  color: black;
  text-shadow: none;
  border: 1px solid black;
}

form input.equal {
  width: 6.6em;
}

.calculator form input.operator {
  color: rgb(137, 255, 245);
  text-shadow: 0 0 2px black;
}
